html, body{
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
.col{
    height: 84px;
    border: 1px solid lightgray;
}

.row.header{
    background-color: rgb(150, 117, 206);
    height: 5%;
    color: white;
    font-size: 1rem;
    margin-bottom: 1%;
}

.row.header > div{
   height: 100%;
}

.today{
    background-color: greenyellow;
}
