html, body{
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 1200px; 
    height: 800px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    display: none;
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}